In [1]:
##task1
s= "this is MY Frist Python programming class and i am learNING python string and its function"

In [2]:
s

In [3]:
s[0:300:3]

In [4]:
s[::-1]

In [5]:
ls=s.upper()
ls.split()

In [6]:
s.lower()

In [7]:
s

In [8]:
s.capitalize()

In [9]:
s1 = "likith"

In [10]:
s1.isalnum()

In [11]:
s2="nv apl"

In [12]:
s2.isalpha()

In [13]:
s = "svnkl\t234134\tadb"

In [14]:
s.expandtabs()

In [15]:
temp='     baby     '

In [16]:
temp.strip()

In [17]:
temp.rstrip()

In [18]:
temp.lstrip()

In [19]:
ad =" cold storage"
ad.replace('storage',"container")

In [20]:
n="coder"
n.center(10,"?")

*python is compiled as well as intrepeted language. in python to convert the high level language
   in to low level language the term compiler comes into picture.
** IN python when we execute the program 1st the complier converts the source code in to byte code 
   and then interpreter converts the bytecode in to machine level language.
*** 
     source code-----> compiler---->byte code---->intrepreter---->machine code
****

python is commonly used for:
    A) developing websites and software
    b) task automation
    C)data analysis
    d)data visualization
    e)many more

1.data science
2.artificial inteligence
3.web scrapping
4.game development
5.internet of things
6.web application development
7.desktop gui
8.enterprice application

####task number two

In [21]:
l=[3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [22]:
##Q1
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [23]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [24]:
##Q2
l[7][0],list(l[8].keys())[1]

(234, 234)

or

In [25]:
##Q2
list(l[8].keys())[1]

234

In [26]:
##Q3
l[5][1]

456

In [27]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [28]:
##Q4
l1= l[5],l[6],l[8][234]
l1

([23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], [23, 45, 656])

In [29]:
##Q5
l[8]['key1']

'sudh'

In [30]:
#Q6
tuple(l[8].keys())

('key1', 234)

In [31]:
#Q7
tuple(l[8].values())

('sudh', [23, 45, 656])

##task3

In [32]:
#Q1
n=int(input())
for i in range(n):
    for j in range(i+1):
        print("ineuron",end=" ")
    print()

5
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron

In [33]:
##Q2
n=int(input())
for i in range(n):
    if i <=3:
        n=i
    else:
        n=6-i
    print(("ineuron"*n).center(20," "))

5

      ineuron
   ineuronineuron
ineuronineuronineuron
   ineuronineuron

In [34]:

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [35]:
##Q3
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [36]:
##Q4
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [37]:
##Q5
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [38]:
##Q6
l3=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
                if type(j)==int:
                    l3.append(j)
                    
    if type(i)==dict:
        for k,v in i.items():
            if type(v)==int or type(k)==int:
                l3.append(k)
                l3.append(v)

In [39]:
l3

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [40]:
##7
sum(l3)

156

In [41]:
##Q8
l4=[]
for i in l3:
    if i%2==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [42]:

l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [43]:
##Q9
l5=[]
for i in l:
    if type(i) == list or type(i)==tuple or type(i)==set:
        for j in i:
            if j=="ineuron":
                l5.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if k=="ineuron" or v =="ineuron":
                l5.append(v)

In [44]:
l5

['ineuron', 'ineuron']

In [45]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [46]:
##10
l6=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l6.append(j)
    if type(i)==dict:
        for k,v in i.items():
            l6.append(v)
            l6.append(k)

In [47]:
l6
for i in l6:
    print(i,":",l6.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
4 : 4
5 : 3
23 : 1
sudh : 1
k1 : 1
ineuron : 2
k2 : 1
kumar : 1
k3 : 1
6 : 3
3 : 4
8 : 1
7 : 2
ineuron : 2
data science  : 1

In [48]:
##in revision class
set(l6)

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science ',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [49]:

for i in set(l6):
    print(i,";",l6.count(i))

k2 ; 1
1 ; 1
2 ; 2
3 ; 4
4 ; 4
5 ; 3
6 ; 3
7 ; 2
sudh ; 1
kumar ; 1
8 ; 1
data science  ; 1
45 ; 1
k1 ; 1
k3 ; 1
23 ; 1
ineuron ; 2

In [50]:
##Q11
l7=[]
for i in l:
    if type(i)==dict:
        for k in i.items():
            l7.append(k)

In [51]:
l7

[('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)]

In [52]:
##q11 in revision class
for i in l:
    if type(i)==dict:
        print(len(i))

5

In [53]:
##Q12
for i in l6:
    if type(i)==str:
        print(i)

sudh
k1
ineuron
k2
kumar
k3
ineuron
data science

In [54]:
l6

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'sudh',
 'k1',
 'ineuron',
 'k2',
 'kumar',
 'k3',
 6,
 3,
 8,
 7,
 'ineuron',
 'data science ']

In [55]:
##Q13
for i in l6:
    if type(i) ==str:
        if i.isalnum():
            print(i)

sudh
k1
ineuron
k2
kumar
k3
ineuron

In [56]:
##Q14
j=1
for i in l:
    if type(i)==int:
        j=j*i
print(j)

1

In [57]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [58]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [59]:
###Q14
for i in l:
    m=1
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                m=m*j
        print(type(i),m)
    if type(i)==dict:
        for k in i.items():
            for n in k:
                if type(n)==int:
                    m=m*n
        print(n,type(i))

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
8 <class 'dict'>
<class 'list'> 1

In [60]:
####Q15
l6

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'sudh',
 'k1',
 'ineuron',
 'k2',
 'kumar',
 'k3',
 6,
 3,
 8,
 7,
 'ineuron',
 'data science ']

task number 4

In [61]:
##Q1
n=int(input())
i=0
while i<=n:
    print("* "*(i))
    i+=1

5

*
* *
* * *
* * * *
* * * * *

In [ ]:
##Q2

i=0
while i<7:
    c=65+i
    j=0
    while j<(i+1):
        if c==91:
            break
            print(chr(c),end=" ")
            c=c+6-j
            j+=1
        i+=1

In [ ]:
##Q3
i=40
while i<=400:
    if i%3==0:
        print(i)
    i+=1

In [5]:
##Q4
s="""Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc"""
i=0
v="aeiou"
s=s.lower()
while i < len(s):
    if s[i] in v:
        print(s[i])
    i+=1

o
i
a
i
e
e
i
e
e
e
e
e
a
u
o
e
o
a
i
a
u
a
e
i
e
i
i
o
o
e
a
i
e
o
e
e
a
a
i
i
i
e
u
e
o
i
i
i
a
i
e
a
i
o
o
i
a
i
a
e
a
a
a
e
o
e
e
i
u
o
u
i
e
o
a
i
a
a
i
i
u
i
u
u
e
a
i
u
a
o
e
u
a
o
e
o
i
e
e
a
u
i
o
a
o
a
i
i
i
o
e
e
i
e
a
a
a
e
i
e
i
u
e
a
u
a
e
u
e
o
i
o
e
e
i
e
a
a
i
a
u
i
o
a
o
u
e
a
o
i
o
o
i
e
a
e
a
a
u
e
o
o
e
a
o
a
i
a
u
a
e
a
i
e
e
a
e
i
i
a
o
o
a
e
e
a
e
i
a
i
o
u
e
e
e
a
u
e
u
a
i
o
e
e
i
o
e
e
e
i
a
a
e
o
e
i
o
e
e
e
e
o
u
i
a
u
i
o
e
u
o
o
e
e
a
e
i
a
a
a
o
e
i
i
o
a
i
o
o
e
e
a
a
o
a
i
e
i
e
a
i
e
e
i
o
o
a
i
o
i
u
e
i
e
i
o
i
o
o
i
e
a
a
o
e
o
e
o
o
u
a
o
a
i
a
u
a
e

In [ ]:
##Q5
i=1
while i<=1000:
    if i%2==0:
        print(i)
    i+=1

In [6]:
##Q6
def vowel(s):
    i=0
    v="aeiou"
    s=s.lower()
    while i<len(s):
        if s[i] in v:
            print(s[i])
        i+=1

In [7]:
vowel(s)

o
i
a
i
e
e
i
e
e
e
e
e
a
u
o
e
o
a
i
a
u
a
e
i
e
i
i
o
o
e
a
i
e
o
e
e
a
a
i
i
i
e
u
e
o
i
i
i
a
i
e
a
i
o
o
i
a
i
a
e
a
a
a
e
o
e
e
i
u
o
u
i
e
o
a
i
a
a
i
i
u
i
u
u
e
a
i
u
a
o
e
u
a
o
e
o
i
e
e
a
u
i
o
a
o
a
i
i
i
o
e
e
i
e
a
a
a
e
i
e
i
u
e
a
u
a
e
u
e
o
i
o
e
e
i
e
a
a
i
a
u
i
o
a
o
u
e
a
o
i
o
o
i
e
a
e
a
a
u
e
o
o
e
a
o
a
i
a
u
a
e
a
i
e
e
a
e
i
i
a
o
o
a
e
e
a
e
i
a
i
o
u
e
e
e
a
u
e
u
a
i
o
e
e
i
o
e
e
e
i
a
a
e
o
e
i
o
e
e
e
e
o
u
i
a
u
i
o
e
u
o
o
e
e
a
e
i
a
a
a
o
e
i
i
o
a
i
o
o
e
e
a
a
o
a
i
e
i
e
a
i
e
e
i
o
o
a
i
o
i
u
e
i
e
i
o
i
o
o
i
e
a
a
o
e
o
e
o
o
u
a
o
a
i
a
u
a
e

In [ ]:
##Q7
import datetime
datetime.datetime.now().time()

In [ ]:
import datetime
datetime.date.today()

In [ ]:
import smtplib
server=smtplib.SMTP('smtp.gmail.com',587)
server.starttls()
server.login('likithjack57@gmail.com','sagar@1997')
server.sendmail("sudhanshu@ineuron.ai,dayasagarthekingofkings@gmail.com","TEST EMAIL from python")
print("mail sent")

In [ ]:
##Q10
import time
import playsound

alarm_time =  "11:40"
if time.asctime()[11:38]==alarm_time:
    absolute_path =os.path.abspath("WhatsApp Audio 2022-08-24 at 11.36.41 AM.mpeg")
    print(absolute_path)
    playsound.playsound(absolute_path)

In [ ]:
##Q11
import socket
host = socket.gethostname()
ip = socket.gethostbyname(host)
print("your ip address is",ip)
print("your comp name is",host)

In [ ]:
 ##q12
import winapps

list(winapps.list_installed())

In [ ]:
##Q13
import gtts
from playsound import playsound
def txt_to_voice(str1):
    tts=gtts.gTTS(str1)
    tts.save("kgf.mp3")
    playsound("kgf.mp3")
text= input("enter the text to convert to voice:")
txt_to_voice(text)

In [ ]:
##q114

In [7]:
##Q14
def print_prim(l):
    for i in range(len(l)):
        print(i)

In [8]:
print_prim([4,5,6,7,7,"liki",[3,4,5,6]])

0
1
2
3
4
5
6

In [11]:
##Q15
d={"k1":"value","k2":"values","k3":{"k12":"sudh","k13":"likith","k22":"sagar"}}

In [15]:
def dict_to_list(d):
    l=[]
    for i in d.values():
        if type(i)!=dict:
            l.append(i)
        if type(i)==dict:
            for j in i.values:
                l.append(j)

In [16]:
dict_to_list(d)

TypeError: 'builtin_function_or_method' object is not iterable

In [ ]:
d.

In [ ]:
d.values()